@font-face {
  font-family: 'NerdFonts';
  src: url('../fonts/Source Code Pro Nerd Font Complete.ttf') format('truetype');
}
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900');

$phi: 1.6180339887498948482;
$sidebar-width: 340px;

$font-stack: 'Work Sans', Helvetica, sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;

$primary-color:   #2C3E50;
$color-accent:    #FC4349;
$color-secondary: #6DBCDB;
$color-blue:      #6DBCDB;
$color-orange:    #FC9943;
$color-gray:      #BDBDBD;
$color-gray20:    #8F99A2;

$item-width: 252px;
$item-height: $item-width * 0.7;

$breakpoint-tablet: 768px;

body {
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  font-family: $font-stack;
  font-weight: $font-regular;
  font-size: 14px;
  line-height: 18px;
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    flex-flow: column;
  }
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.nf {
   &-dev-ruby_rough, &-oct-ruby { color: $color-accent; }
   &-dev-ruby_on_rails { color: $color-accent; }
   &-dev-python { color: change-color($color-accent, $hue: 90); }
   &-dev-react { color: change-color($color-accent, $hue: 190); }
   &-dev-javascript_badge { color: change-color($color-accent, $hue: 50); }
   &-dev-mysql { color: change-color($color-accent, $hue: 190); }
   &-dev-illustrator { color: change-color($color-accent, $hue: 40); }
   &-dev-html5 { color: change-color($color-accent, $hue: 15); }
   &-dev-ubuntu, &-linux-ubuntu_inverse { color: change-color($color-accent, $hue: 15); }
   &-dev-windows { color: change-color($color-accent, $hue: 196); }
   &-dev-vim { color: change-color($color-accent, $hue: 78); }
   &-dev-mongodb { color: change-color($color-accent, $hue: 130); }
   &-dev-nodejs_small { color: change-color($color-accent, $hue: 110); }
   &-fa-paint_brush { color: change-color($color-accent, $hue: 290); }
   &-dev-angular { color: $color-accent; }
   &-dev-apple { color: #FFF; }
   &-dev-linux { color: #FFF; }
   opacity: 0.9;
   @include transition(opacity .2s ease);
   &:hover {
     opacity: 1.0;
   }
}

a { @include transition(all .1s linear); }
.center { text-align: center !important; }
.light { font-weight: $font-light !important; }

#page-content {
  display: flex;
  flex: 1;
  position: relative;
  padding: 4em 1em 0 1em;
  overflow: scroll;
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    overflow: visible;
  }
  &.portfolio {
    flex-direction: column;
    padding: 4em;
    background-color: $primary-color;
    .back {
      margin-bottom: 1em;
      color: $color-orange;
      font-size: 1.5em;
      font-weight: $font-bold;
      &:hover { color: $color-accent; }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    main {
      max-width: 768px;
      min-width: 300px;
      position: relative;
      background-color: #fff;
      border: 1px solid darken($primary-color, 10%);
      border-radius: 4px;
      padding: 2em;
      .flag-container span {
        border: 1px solid darken($primary-color, 10%);
      }
    }
  }
}
.single-flag span {
  background: $color-orange;
  width: 100%;
}

#portfolio {
  h1 {
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: $font-bold;
  }
  width: 100%;

  .quote {
    padding: 0 4em;
    .text {
      font-style: italic;
      font-size: 2em;
      line-height: 1.2em;
      font-weight: 200;
    }
    .author {
      font-weight: $font-bold;
    }
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    border: 1px solid $primary-color;
    border-radius: 4px;
    width: $item-width;
    height: $item-height;
    margin: 1em;
    position: relative;

    img {
      border-radius: 3px;
      width: 100%;
      display: block;
    }
    aside {
      height: 40px;
      font-size: 14px;
      color: #FFF !important;
      font-weight: $font-regular;
      line-height: 40px;
      color: $color-gray;
      position: absolute;
      bottom: 0;
      padding-left: 1em;
      width: 100%;
      background-color: $primary-color;

      .features {
        position: absolute;
        right: 1em;
      }
      .date {
        position: absolute;
        right: 10px;
        font-size: 10px;
        font-weight: $font-bold;
        opacity: 0.5;
      }

      .nf {
        position: relative;
        top: 4px;
        font-size: 20px;
        padding: 0 2px;
      }
    }
  }
}

#sidebar {
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    width: 100%;
  }
  * { color: #FFF; }
  position: relative;
  padding: 2em;
  display: flex !important;
  align-items: stretch;
  display: flex;
  flex: initial;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;
  width: 340px;

  .brand {
    @media screen and (max-width: $breakpoint-tablet - 1px) {
      margin: 1em 0;
      justify-content: center;
    }
    margin: 4em 0 1em 0;
    display: flex;
    align-items: center;
    .logo {
      background-repeat: no-repeat;
      background-position-y: 3px;
      width: 80px;
      height: 80px;
      background-image: url('/assets/img/logo.png');
      background-size: contain;
      margin-right: 5px;
    }
    .name {
      * { display: block; }
      strong {
        font-size: 18px;
        font-weight: $font-bold;
        text-align: justify;
        letter-spacing: 2px;
        margin-bottom: 4px;
      }
      small {
        font-weight: $font-regular;
        font-size: 12px;
        color: $color-secondary;
        text-align: center;
        letter-spacing: 1.6px;
      }
    }
  }

  .info p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 1em;
    strong { font-weight: $font-regular; }

    &.feature {
      display: flex;
      justify-content: center;
      font-size: 2em;
      text-align: center;
      font-weight: 800;
      letter-spacing: 6px;
      opacity: 0.3;
      line-height: 32px;
      .nf {
        margin: 0 14px;
        min-width: 32px;
        max-width: 32px;
        width: 32px;
        height: 32px;
        max-height: 32px;
        min-height: 32px;
        position: relative;

        &.animated { display: none; }
        &.animated.active { display: inline }
      }
    }
  }

  nav {
    @media screen and (max-width: $breakpoint-tablet - 1px) {
      margin-top: 0;
      padding: 1.5em 0;
    }
    border-top: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
    padding: 3em 0;
    margin-top: 3em;
    ul, li {
      list-style: none;
      display: inline;
      margin: 0;
      padding: 0;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;
      color: $color-secondary;
      font-weight: $font-bold;
      font-size: 14px;
      text-transform: uppercase;

      &.active { color: $color-accent; }
    }

    .submenu {
      margin-top: 1em;
      a {
        font-weight: $font-light;
        font-size: 12px;
        color: $color-gray;
        text-transform: capitalize;

        &.active {
          font-weight: $font-regular;
          color: #FFF;
        }
      }
    }
  }

  .social {
    @media screen and (max-width: $breakpoint-tablet - 1px) {
      padding: 1em 0 0.5em 0;
    }
    i {
      color: #5F6C7A;
      @include transition(color .3s ease);
      &:hover { color: #FFF; }
    }
    padding: 2em 0;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
  }
}

.flag-container {
  position: absolute;
  left: 0;
  top: -1px;
  line-height: 0px;
  height: 4px;
  width: 100%;
  div {
    height: 100%;
    width: 100%;
  }
  span {
    height: 101%;
    border: 1px solid $primary-color;
    display: inline-block;
  }
}
.mexican-flag {
  span {
    &:nth-child(1) {
      width: 10%;
      background-color: #9CFC43;
    }
    &:nth-child(2) {
      width: 20%;
      background-color: #FFF;
    }
    &:nth-child(3) {
      background-color: $color-accent;
      width: 70%;
    }
  }
}


.cdmx {
  font-weight: 400;
  span {
    color: change-color($color-accent, $hue: 303) !important;
    font-weight: $font-bold;
  }
}

#portfolio-content {
  & > * { margin-bottom: 1.5em; }
  .header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-gray;
    padding-bottom: 1em;

    h1 {
      font-family: $font-stack !important;
      font-size: 2em;
      font-weight: 600;
      line-height: 1em;
    }
    .small { font-size: 0.9em; }
    .date {
      text-align: right;
      font-weight: $font-bold;
      font-size: 1em;
      margin-left: auto;
    }
    .btn {
      @include transition(none);
      white-space: nowrap;
      margin-left: auto;
      align-self: center;
    }
  }
  .featured {
    display: flex;
    justify-content: space-between;
    .info {
      margin-right: 2em;
      flex: 1;
      color: $color-gray20;
      small {
        font-weight: $font-regular;
        font-size: 1em;
      }
      h3 {
        font-weight: 800;
        font-size: 0.9em;
        margin-bottom: 5px;
      }
      .features {
        display: flex;
        margin-bottom: 1em;
      }
      .nf {
        font-size: 2em;
        padding: 2px;
        margin-right: 1em;
        color: $color-gray20 !important;
      }
    }
    .thumbnail img {
      border: 1px solid $primary-color;
      border-radius: 2px;
    }
  }
  .thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    figure {
      margin-bottom: 1em;
      max-width: 150px;
      padding: 0 10px 10px 10px;
    }
    img {
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
  }
  .description {
    iframe {
      border: 1px solid $primary-color;
      display: block;
      margin: 0 auto 1em auto;
    }
    p {
      margin-bottom: 1em;
      text-align: justify;
    }
  }
}

.chocolat-overlay {
  background-color: $primary-color;
}
.btn {
  border-radius: 4px;
  border: 1px solid #21517F;
  padding: 8px 15px;
  background-color: #43A2FC;
  color: #FFF;
  font-weight: $font-light;
  .nf {
    margin-right: 7px;
    color: #FFF !important;
    font-size: 1em;
  }

  &:hover {
    background-color: $color-accent;
    color: #FFF;
    border-color: darken($color-accent, 50%);
  }
}
.border { border: 1px solid $primary-color; }

