---
class: portfolio
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <style>
    body, html {
      background-color: #FFF;
    }
  </style>

  <body>

    {% include sidebar.html %}

    <main id="page-content">
      <div class="flag-container">
        <div class="single-flag">
          <span></span>
        </div>
      </div>

      <div id="portfolio">
        <div class="quote">
          <blockquote id="quote" class='text' cite="">
          </blockquote>
          <a href="" class="author" id="quote_author">
          </a>
        </div>

        <h1>Portfolio</h1>
        <div class="wrapper">
        {% for project in site.categories.portfolio %}
          <div class="item">
            <a href="{{ project.permalink }}" rel="follow">
              <img src="{{ "/assets/img/projects/" | append: project.permalink }}/thumbnail.png" />
            </a>
            <aside>
              <div class="features">
                {% for feature in project.tools %}
                <span class="nf nf-{{ feature }}"></span>
                {% endfor %}
              </div>
                {% if project.short_title %}
                    {{ project.short_title }}
                {% else %}
                    {{ project.title }}
                {% endif %}
            </aside>
          </div>
        {% endfor %}
        </div>
        {{ content }}
      </div>
    </main>

  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
