---
class: portfolio
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}

    <style>
    #sidebar {
      position: unset;
      z-index: 1;
    }
    </style>
  </head>

  <body>
    {% include gtmbody.html %}

    {% include sidebar.html %}

    <section id="page-content" class="portfolio">
      <div class="wrapper">
        <a href="{{ site.url }}" class="back">
          <span class="nf nf-fa-chevron_circle_left"></span>
          Back
        </a>
        <main id="item-content">
        <div class="flag-container">
          <div class="single-flag">
            <span></span>
          </div>
        </div>

        <div id="portfolio-content">
          <div class="header">
            <h1>{{ page.title }}</h1>
            {% if page.track_link %}
              <a class="btn"
                 ga-on='click'
                 ga-event-category='{{ page.ga_category }}'
                 ga-event-action='{{ page.ga_action }}'
                 ga-event-label='{{ page.ga_label }}'
                href="{{ page.link }}" target="_blank">
            {% else %}
              <a class="btn" href="{{ page.link }}" target="_blank">
            {% endif %}
              <span class="nf nf-fa-external_link"></span>
              View
            </a>
          </div>
          <div class="featured">
            <div class="info">
              <p>
              <h3>
                DATE:
                <small>
                  {{ page.date | date: "%B" }}, {{ page.date | date: "%Y" }}
                </small>
              </h3>
              </p>
              <p>
              <h3>TECHNOLOGIES</h3>
              <div class="features">
                {% for feature in page.tools %}
                <span class="nf nf-{{ feature }}"></span>
                {% endfor %}
              </div>
              </p>
            </div>
            <div class="thumbnail">
              <img src="{{ "/assets/img/projects/" | append: page.permalink }}/thumbnail.png" />
            </div>
          </div>
          <div class="description content">
            {{ content }}
          </div>
          <div class="thumbs chocolat-parent" data-chocolat-title="{{ page.title }}">
            {% for i in (1..page.thumbs) %}
            {% capture imgsrc %}
            {{ '/assets/img/projects/' | append: page.permalink | append: "/" | append: i | append: ".png" }}
            {% endcapture %}
            <figure class="image">
              <a href="{{ imgsrc }}"
                 class="chocolat-image">
                <img src="{{ imgsrc }}" />
              </a>
            </figure>
            {% endfor %}
          </div>
        </div>
        </main>
      </div>
    </section>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
